<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Categorias</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let categoria of categorias | async">
        <td>{{categoria.nome}}</td>
        <td><button (click)="deleteCategoria(categoria.id)" class="btn btn-danger">Delete</button>
          <button (click)="categoriaDetails(categoria.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
