<h2>Produto Details</h2>

<hr/>
<div *ngIf="produto">
  <div>
    <label><b>Codigo de Barras: </b></label> {{produto.codigoDeBarras}}
  </div>
  <div>
    <label><b>Nome: </b></label> {{produto.nome}}
  </div>
  <div>
    <label><b>Descricao: </b></label> {{produto.descricao}}
  </div>

  <div>
    <label><b>Quantidade</b></label> {{produto.quantidade}}
  </div>
  <div>
    <label><b>Categoria</b></label> {{produto.categoria.nome}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar</button><br>
